#!/bin/bash
EXECUTABLE=americancoind
SOURCE=$HOME/.americancoin
TARGET=/home/$USERNAME/.americancoin
docker run \
	--rm \
	--interactive \
	--tty \
	--mount type=bind,source=$SOURCE,target=$TARGET \
	jcomeauictx/americancoind $*
