#!/bin/bash
GITTER=jcomeauictx
EXECUTABLE=americancoind
TAG=$GITTER/$EXECUTABLE
NAME=$GITTER-$EXECUTABLE
SOURCE=$HOME/.americancoin
TARGET=/home/$USERNAME/.americancoin
if [ -z "$*" ]; then
	docker run \
		--rm \
		--detach \
		--interactive \
		--tty \
		--name $NAME \
		--mount type=bind,source=$SOURCE,target=$TARGET \
		$TAG
else
	docker exec \
		$NAME \
		$EXECUTABLE $*
fi
